<ion-view title="Goal Setter">
  <ion-content class="padding">
    <h2 class="text-center padding-bottom padding-top">Welcome!</h2>
    <p>The goal setter application will allow you to set and track your daily goals, keeping you on track for achieving your dreams. Let's get started!</p>
    <div class="row row-bottom">
      <div class="col col-bottom">
    <button class="button button-positive button-full" ui-sref="tab.goals">
      View Today's Goals!
    </button>
        </div>
    </div>
  </ion-content>
</ion-view>
